.results {
  display: flex;
  flex-direction: column;
  background-color: #1f2833;
  background-color: #beb7df;

  align-items: center;
  text-align: center;
  color: white;
}

.result_rating {
  display: flex;
  flex-direction: column;
  text-align: left;
  margin-left: 20px;
}

.title_2 {
  align-items: center;
  width: 20%;
  border-bottom: 2px solid #66fcf1;
}

.url {
  color: #66fcf1;
}

.icon {
  margin-top: 20px;
}
