.result {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
  width: 60%;

  border: 2px solid #66fcf1;
  border-radius: 10px;

  color: white;
  transform-style: preserve-3d;
  transition: transform 1s ease-in-out;
  perspective: 1000px;
}

.url_title {
  text-align: center;
}

.scoller {
  padding: 5% 0;
  overflow: auto;
  flex: auto;
}

.ratings {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #87919e;
  color: black;
  height: 100%;
}

.ratings > button {
  display: block;
  margin: auto;
  margin-bottom: 20px;
  justify-content: center;
  align-items: center;
  height: 54px;
  width: 20%;
  background-color: #66fcf1;
  color: black;
  border: 2px solid black;
  border-radius: 10px;
  outline: none;
}

.buttonFlip:hover {
  background-color: #1f2833;
  color: white;
  border: 3px solid #66fcf1;
}

.buttonFlip {
  transform: rotateY(180deg);
}

.title {
  border-bottom: 2px solid #66fcf1;
  color: #66fcf1;
  height: auto;
}

.v_desc {
  display: flex;
  flex-direction: column;
  backface-visibility: hidden;
  background-color: #2f4454;
}

.v_sol {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #2f4454;
  backface-visibility: hidden;
  transform: rotateY(180deg);
}

.icon {
  margin-top: 20px;
}

.result_rating {
  margin-bottom: 0px;
  font-size: 1rem;
}

.result_info {
  position: absolute;
}

/* .card_container:hover .card {
  transform: rotateY(180deg);
} */

/* .card figure {
  width: 100%;
  height: 100%;
  position: absolute;
} */

.card_container:hover {
  background: black;
}
.card {
  width: 100%;
  height: 100%;
  position: relative;
}
.url_title {
  text-align: center;
}

.icon {
  margin-top: 20px;
}

.result_rating {
}

.result_rating > strong {
  margin-bottom: 5px;
}
.result:hover {
  transform: rotateY(180deg);
}

/* .card:hover {
  transform: rotateY(180deg);
} */

/* The flip card container - set the width and height to whatever you want. We have added the border property to demonstrate that the flip itself goes out of the box on hover (remove perspective if you don't want the 3D effect */
.flip-card {
  background-color: transparent;
  width: 60%;
  height: 200px;
  border: 1px solid #f1f1f1;
  margin-bottom: 20px;
  perspective: 1000px; /* Remove this if you don't want the 3D effect */
}

/* This container is needed to position the front and back side */
.flip-card-inner {
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

/* Do an horizontal flip when you move the mouse over the flip box container */
.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

/* Position the front and back side */
.flip-card-front,
.flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden; /* Safari */
  backface-visibility: hidden;
}

/* Style the front side (fallback if image is missing) */
.flip-card-front {
  background-color: #bbb;
  color: black;
}

/* Style the back side */
.flip-card-back {
  background-color: dodgerblue;
  color: white;
  transform: rotateY(180deg);
}
