.result {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
  width: 60%;
  border: 2px solid #66fcf1;
  border-radius: 10px;
  position: relative;
  height: 20rem;
  background-color: #2f4454;
  color: white;
  transition: transform 1s ease-in-out;
  transform-style: preserve-3d;
}
/* .result_info {
  transform: rotateY(180deg);
} */
.card {
  width: 100%;
  height: 100%;
}
.url_title {
  text-align: center;
}

.v_desc {
  position: absolute;
  backface-visibility: hidden;
  width: 100%;
  height: 100%;
}

.icon {
  margin-top: 20px;
}

.result_rating {
  margin-bottom: 0px;
}

.v_sol {
  display: flex;
  position: relative;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  transform: rotateY(180deg);
}

.result_info {
  position: absolute;
}

/* .card_container:hover .card {
  transform: rotateY(180deg);
} */

/* .card figure {
  width: 100%;
  height: 100%;
  position: absolute;
} */

.card_container:hover {
  background: black;
}
.card {
  width: 100%;
  height: 100%;
}
.url_title {
  text-align: center;
}

.icon {
  margin-top: 20px;
}

.result_rating {
  margin-bottom: 0px;
}
.result:hover {
  transform: rotateY(180deg);
}
.v_sol {
  transform: rotateY(180deg);
}

/* .card:hover {
  transform: rotateY(180deg);
} */
