.filler {
  position: absolute;
  background: #1da598;
  height: 100%;
  border-radius: inherit;
  /* animation: g 5s linear 1; */
  position: absolute;
  left: 0;
  top: 0px;
  height: 100%;
  background-color: #5225bd;
  /* animation: g 2500ms infinite ease-in-out,
    r 3000ms infinite cubic-bezier(0.5, 0.5, 0.5, 0.5);
  z-index: 2; */
  overflow: hidden;

  /* transition: width 0.2s ease-in; */
}

.progressbar-complete {
  position: absolute;
  left: 0;
  /* top: 0px; */
  height: 80px;
  background-color: #5225bd;
  border-radius: 10px;
  animation: g 5000ms infinite ease-in-out;
  z-index: 2;
}

.progressbar-liquid {
  z-index: 1;
  width: 70px;
  height: 70px;
  animation: g 5000ms infinite ease-in-out,
    r 3000ms infinite cubic-bezier(0.5, 0.5, 0.5, 0.5);
  position: absolute;
  right: -5px;
  top: -10px;
  background-color: #5225bd;
  border-radius: 40%;
}
.progress {
  z-index: 2;
}

@keyframes g {
  0% {
    width: 0%;
    background-color: #5225bd;
  }
  50% {
    width: 50%;
    background-color: #607e9e;
  }
  100% {
    width: 100%;
    background-color: #5225bd;
  }
}

@keyframes r {
  from {
    transform: rotate(0deg);
  }
  from {
    transform: rotate(360deg);
  }
}
